# ==============================================================================
# Configurações do Banco de Dados PostgreSQL
# ==============================================================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=btc_pipeline
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ==============================================================================
# Configurações do Streamlit (Dashboard)
# ==============================================================================
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=0.0.0.0

# ==============================================================================
# Configurações da API CoinGecko
# ==============================================================================
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
# Caso possua chave de API Demo (opcional, deixe em branco para API pública)
COINGECKO_API_KEY=

# ==============================================================================
# Configurações de Orquestração (Apache Airflow)
# ==============================================================================
# No Linux, defina o ID do usuário local para evitar problemas de permissões no Docker
AIRFLOW_UID=1000
AIRFLOW_IMAGE_NAME=apache/airflow:2.7.1-python3.10
# Chave secreta de criptografia interna do Airflow (pode ser gerada via python -c "import secrets; print(secrets.token_hex(16))")
AIRFLOW_FERNET_KEY=N6dYqBElHu7cB58x1Y5y0eigHs5TYydSCCTYDKdR9LA=
